.faq {
    background-color: var(--ui-dark-shade-color);
    background-size: cover;
    padding-left: 25px;
    padding-right: 25px;

}

.faq__title-pretitle {
    font-size: 12px;
    color: var(--spots-text-color);
}

.faq__title-major {
    font-size: 34px;
    color: var(--ui-block-title-color-light);
}

.faq__titlepart {
    color: var(--spots-text-color);
}

.faq__title-text {
    display: inline-block;
    color: var(--spots-text-color);
}

.faq__acordion {
    color: var(--ui-block-title-color-light);
}

