.footer-container__h1 img {
    background-color: black;
    width: 176px;
    height: 32px;
}

.footer-container {
    display: block;
    text-align: center;
    background-color: black;
}

.footer-container__ul {
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: center;
    margin-top: 30px;
}

.footer-container__li,
.footer-container__li a,
.footer-container__created,
.rights_lower_block {
    padding-left: 20px;
    list-style: none;
    color: white;
}

.footer-container__lower_block {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding-bottom: 30px;
    margin: 30px 50px 0 50px;
}

.footer-container__ul_lower_block {
    display: flex;
}

.ul_lower_block__links_li {
    list-style: none;
    padding-left: 20px;
}

.ul_lower_block__links_li i {
    color: white;
}

.mounting__column-address-email {
    text-decoration: underline;
}

.footer-container__li a {
    text-decoration: none;
}