.section__mounting {
    background-image: url(/img/mountains.jpg);
    background-size: 100%;
    width: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    height: 578px;
    vertical-align: bottom;
    flex-direction: row;
    flex-wrap: nowrap;
    background-position: center;
}

.section__column {
    background-color: black;
    opacity: 0.8;
    padding: 40px;
    align-self: center;
    text-align: center;
    width: 30%;
    margin: 0 1%;
}

.mounting__invintation-info,
.mounting__column-address-container,
.address-tolbugata {
    color: white;
    white-space: nowrap;
    line-height: 0.2px;
    margin-top: 30px;
}

.mounting__column-address {
    color: white;
    white-space: nowrap;
    line-height: 0.2px;
    margin-top: 30px;
    text-decoration: none;
    transition: 300ms ease-in-out;
}

.mounting__column-icon svg {
    width: 50px;
    height: 50px;
}

.mounting__column-address:hover {
    color: rgb(0, 51, 255);
    font-size: 30px;
}

.mounting__invintation-info {
    font-size: 25px;
}

.footer-container__h1 img {
    background-color: black;
    width: 176px;
    height: 32px;
}

.footer-container {
    display: block;
    text-align: center;
    background-color: black;
}

.footer-container__ul {
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: center;
    margin-top: 30px;
}

.footer-container__li, .footer-container__li a,
.footer-container__created,
.rights_lower_block {
    padding-left: 20px;
    list-style: none;
    color: white;
}

.footer-container__lower_block {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding-bottom: 30px;
    margin: 30px 50px 0 50px;
}

.footer-container__ul_lower_block {
    display: flex;
}

.ul_lower_block__links_li {
    list-style: none;
    padding-left: 20px;
}

.ul_lower_block__links_li i {
    color: white;
}
.mounting__column-address-email{
    text-decoration: underline;
}
.footer-container__li a {
    text-decoration: none;
}