.header {
    background-image: url(../img/header_background.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px;

}

.header_nav {
    display: flex;
    flex-direction: row;
    max-width: 1170px;
    padding-left: 24px;
    padding-right: 24px;
}

.header__logo-container {
    justify-content: flex-start;
    width: 188px;
    height: 34px;
}

.header__menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-wrap: break-word;
    justify-content: space-between;
    vertical-align: baseline;
    width: 100%;
    align-items: center;
    padding-left: 250px;
    padding-right: 5px;
    flex: 0.75;

}

.burger__button {
    position: relative;
    cursor: pointer;
    background-color: rgba(117, 190, 218, 0.0) !important;
}

.navbar .navbar-toggler .navbar-toggler-icon {
    cursor: pointer;
    background-image: url('https://mdbootstrap.com/img/svg/hamburger7.svg?color=FFFFFF');
    width: 24px;
    height: 16px;
}

.navbar-toggler {
    border: none;
}

.header__menu-item {
    font-size: 14px;
    font-weight: 600;
    /* text-align: left; */
    text-decoration: none;
    color: var(--header-text-colour);
}

.header__button {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    border-style: solid;
    border-width: thin;
    cursor: pointer;
    align-items: center;
}

.header__button:hover {
    background-color: var(--header-text-colour);
    color: black;
}

.youtube__icon {
    display: flex;
    align-items: flex-start;
}

.header__video {
    display: flex;
    padding: 30px 15px 30px 15px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 470px;
}

.header__video-link {
    color: var(--header-text-colour);
    font-size: 12px;
    font-weight: 700;
    /* text-align: left; */

}


.header__banner {
    color: var(--header-text-colour);
    padding-top: 90px;
    padding-bottom: 90px;
    max-width: 1170px;
}

.header__banner-text {
    font-weight: bold;
    font-size: 12px;
    /* text-align: left; */

}

.colour-divider {
    color: rgb(238, 46, 20);
}

.header__title {
    font-family: 'Playfair Display', serif;
    font-size: 70px;
    font-weight: 600;
    /* text-align: left; */
}


.header__card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100%;
}


@media (min-width: 767px) {
    .header__card {
        justify-content: flex-end;
        align-items: flex-end;
        align-content: flex-end;

    }

    .header__title {
        font-size: 125px;
    }

}


@media (min-width: 1000px) {
        .header__title {
        font-size: 180px;
    }
}


.header__card-title {
    font-size: 17px;
    font-weight: 700;
    /* text-align: left; */
    padding-top: 30px;
}

.header__card-item {
    font-size: 17px;
    font-weight: 500;
    /* text-align: left; */
    padding-top: 10px;
}

.header__card-text {
    color: rgba(255, 255, 255, 0.75);
    font-size: 17px;
    font-weight: 500;
    /* text-align: left; */
    padding-top: 10px;
}

.header__card-img {
    max-width: 100%;
    height: auto;
    transition: all 0.5s ease;
    display: block;
    justify-content: center;
}

.header__card-button {
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: var(--header-text-colour);
    display: flex;
    padding-top: 32px;
}

.header__pointer {
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: var(--header-text-colour);
    display: block;
    width: 24px;
}

.header__card-button:hover {
    text-decoration: underline;
}

.grid__container {
    display: grid;
    grid-template-rows: auto;
}

@media (min-width: 767px) {
    .grid__container {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 200px;
    }

    .header__video {
        justify-self: start;
        align-self: flex-end;
       
    }

    .header__card {
        justify-self: start;
        align-self: flex-end;
    }
}