.header {
    background-image: url(../img/header_background.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px;
}

.header__container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 0 24px;
}

.header__nav-container {
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 30px 0px;
    max-width: 1200px;
    margin-left: 30px;
}

.header__nav {
    background-color: rgba(117, 190, 218, 0.0);
    width: 100%;
}


.header__logo-container {
    width: 188px;
    display: flex;
    justify-content: space-around;
    z-index: 10;
}

.navigation-burger {
    display: block;
    position: absolute;
    top: 34px;
    right: 20px;
    width: 30px;
    height: 20px;
    padding: 9px;
    cursor: pointer;
    z-index: 5;
}

.navigation-burger span,
.navigation-burger::before,
.navigation-burger::after {
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--header-text-colour);
    transition: all 0.5s ease-in-out;
}

.navigation-burger span {
    transform: scale(1);
}

.navigation-burger::before,
.navigation-burger::after {
    content: " ";
}

.navigation-burger::before {
    top: 0;
}

.navigation-burger::after {
    bottom: 0;
}

.navigation-burger.active span {
    transform: scale(0);
}

.navigation-burger.active::before {
    top: 50%;
    transform: rotate(-45deg);
}

.navigation-burger.active::after {
    bottom: 40%;
    transform: rotate(45deg);
}

.navigation-wrapper {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--header-text-colour);
    z-index: 2;
    transition: top 0.5s ease-in;
    padding: 15px 24px 50px 24px;
    transition: top 0.5s ease-in 0.1s;
    overflow: hidden;
    margin: auto;
}

.navigation-wrapper.active {
    top: 0;
}

.header__nav.active {
    top: 0;
}

.header__menu {
    position: relative;
    font-size: 0.92rem;
    font-weight: 700;
    line-height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: auto;
    z-index: -1;
    padding-top: 100px;
    margin-bottom: 20px;
}

.header__menu-link {
    color: var(--header-text-colour);
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;

}

.header__menu-link:hover {
    color: var(--header-text-colour);
    font-size: 16px;
    transition: font-size .4s ease-in;
}

@media (min-width:995px) {
    .navigation-wrapper {
        display: flex;
        justify-content: space-around;
        gap: 6rem;
        align-items: center;
        width: 75%;
    }

    .header__nav-container {
        padding: 30px 40px;
    }

    .header__menu {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .header__menu-link {
        text-decoration: none;
        color: var(--header-text-colour);
        font-weight: 700;
        margin-block-end: 0.5rem;
        margin-inline-end: 0.5rem;
    }

    .header__menu-link:hover {
        font-size: 1.2rem;
        transition: font-size .5s ease-in-out;
    }

}

.header__button {
     box-sizing: border-box;
    border-style: solid;
    border-width: thin;
    width: 75px;
}

@media (max-width:995px) {

    body.lock {
        overflow: hidden;
    }

    .navigation-burger {
        display: none;
    }

    .navigation-logo {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;
        z-index: 10;
    }

    .navigation-burger {
        display: block;
        position: absolute;
        top: 34px;
        right: 20px;
        width: 30px;
        height: 20px;
        padding: 9px;
        cursor: pointer;
        z-index: 5;
    }

    .navigation-burger span,
    .navigation-burger::before,
    .navigation-burger::after {
        position: absolute;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: var(--header-text-colour);
        transition: all 0.5s ease-in-out;
    }

    .navigation-burger span {
        transform: scale(1);
    }

    .navigation-burger::before,
    .navigation-burger::after {
        content: " ";
    }

    .navigation-burger::before {
        top: 0;
    }

    .navigation-burger::after {
        bottom: 0;
    }

    .navigation-burger.active span {
        transform: scale(0);
    }

    .navigation-burger.active::before {
        top: 50%;
        transform: rotate(-45deg);
    }

    .navigation-burger.active::after {
        bottom: 40%;
        transform: rotate(45deg);
    }

    .header__container {
        position: relative;
    }

    .navigation-wrapper {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #232428;
        z-index: 2;
        transition: top 0.5s ease-in;
        padding: 15px 24px 50px 24px;
        transition: top 0.5s ease-in 0.1s;
        overflow: hidden;
        margin: auto;
    }

    .navigation-wrapper.active {
        top: 0;
    }

    .header__nav.active {
        top: 0;
    }

    .header__menu {
        position: relative;
        font-size: 0.92rem;
        font-weight: 700;
        line-height: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: auto;
        z-index: -1;
        padding-top: 100px;
        margin-bottom: 20px;
    }

    .header__menu-link {
        color: var(--header-text-colour);
                font-size: 1rem;
    }

    .header__menu-link:hover {
        font-size: 1.2rem;
        transition: font-size .4s ease-in;
    }

}






/* .header__logo-container {
    justify-content: flex-start;
    width: 188px;
    height: 34px;
    z-index: 10;
}

.header__menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-wrap: break-word;
    justify-content: space-between;
    vertical-align: baseline;
    width: 100%;
    align-items: center;
    padding-left: 150px;
    padding-right: 5px;
    flex: 0.75;

}

.burger__button {
    position: relative;
    cursor: pointer;
    background-color: rgba(117, 190, 218, 0.0) !important;
}

.navbar-toggler-icon {
    cursor: pointer;
    background-image: url('https://mdbootstrap.com/img/svg/hamburger7.svg?color=FFFFFF');
    width: 24px;
    height: 16px;
    position: fixed;
    z-index: 5;

}

.navbar-toggler {
    border: none;
    top: 15px;
    right: 110px;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-collapse {
    background-color: #232428;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    padding-bottom: 400px;
    text-align: center;
    padding-right: 80px;

}

.header__menu-item {
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: var(--header-text-colour);
}

.header__button {
 
    box-sizing: border-box;
    border-style: solid;
    border-width: thin;
    
    
}

.header__button:hover {
    background-color: var(--header-text-colour);
    color: black;
} */

.youtube__icon {
    display: flex;
    align-items: flex-start;
}

.header__video {
    display: flex;
    padding: 30px 15px 30px 15px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 470px;
}

.header__video-link {
    color: var(--header-text-colour);
    font-size: 12px;
    font-weight: 700;


}


.header__banner {
    color: var(--header-text-colour);
    padding-top: 90px;
    padding-bottom: 90px;
    max-width: 1170px;
}

.header__banner-text {
    font-weight: bold;
    font-size: 12px;


}

.colour-divider {
    color: rgb(238, 46, 20);
}

.header__title {
    font-family: 'Playfair Display', serif;
    font-size: 70px;
    font-weight: 600;

}


.header__card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100%;
}


@media (min-width: 767px) {
    .header__card {
        justify-content: flex-end;
        align-items: flex-end;
        align-content: flex-end;

    }

    .header__title {
        font-size: 125px;
    }
}


@media (min-width: 1000px) {
    .header__title {
        font-size: 180px;
    }

    .navbar-collapse {
        background-color: rgba(117, 190, 218, 0.0);
    }
}



.header__card-title {
    font-size: 17px;
    font-weight: 700;
    padding-top: 30px;


}

.header__card-item {
    font-size: 17px;
    font-weight: 500;

    padding-top: 10px;
}

.header__card-text {
    color: rgba(255, 255, 255, 0.75);
    font-size: 17px;
    font-weight: 500;

    padding-top: 10px;
}

.header__card-img {
    max-width: 100%;
    height: auto;
    transition: all 0.5s ease;
    display: block;
    justify-content: center;
}

.header__card-button {
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: var(--header-text-colour);
    display: flex;
    padding-top: 32px;
}

.header__pointer {
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: var(--header-text-colour);
    display: block;
    width: 24px;
}

.header__card-button:hover {
    text-decoration: underline;
}

.grid__container {
    display: grid;
    grid-template-rows: auto;
}

@media (min-width: 767px) {
    .grid__container {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 200px;
    }

    .header__video {
        justify-self: start;
        align-self: flex-end;

    }

    .header__card {
        justify-self: start;
        align-self: flex-end;
    }
}


.header__clock {
    color: var(--header-text-colour);
    display: block;
    position: relative;
    font-weight: bold;
    font-size: 16px;
    width: 12px;
    height: 10px;
    z-index: 5;
    margin-bottom: 10px;
    margin-left: 50px;
}