
  
  .w-section {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 125px;
    margin-bottom: 15px;
  }
  
  .qwe {
    padding: 20px;
    border-bottom: 1px solid black;
    border-color: #2127361f;
  }
  
  .blog-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-family: "roboto", sans-serif;
    color: #505155;
  }
  
  .blog-heading__line {
    width: 20px;
    height: 2px;
    background-color: red;
    margin-right: 10px;
  }
  
  .text-blog-heading {
    font-size: 35px;
    font-weight: bold;
    margin: 0;
  }
  
  .blog-subtitle {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 45px;
    text-align: center;
    color: rgb(80, 81, 85);
    font-family: "roboto";
    
  }
  
  .blog-content {
    text-align: justify;
    font-size: 19px;
    text-align: center;
    color: rgb(80, 81, 85);
  }
  
  .blog-no-posts {
    margin-top: 50px;
    text-align: center;
    color: rgb(80, 81, 85);
    border-bottom: 1px solid black;
    border-color: #2127361f;
    display: flex;
    justify-content: center;
  }
    