.test {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 90px 0px;
    width: 100%;
    position: relative;
    max-width: none;
    min-width: 320px;
    height: auto;
}

.test__cap {
    display: flex;
    width: 100%;
    max-width: 720px;
    height: auto;
    align-items: center;
    flex-direction: column;
}

.test__exp {
    color: #505155;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-size: 39px;
    font-weight: 700;
    line-height: 46.8px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 1.17px;
    margin-top: 20px;
}
.test__exp__toptext {
    color: rgb(80, 81, 85);
    font-family: "roboto", sans-serif;
    text-align: center;
    font-size: 19px;
    font-weight: 400;
    line-height: 32.3px;
    font-style: normal;
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.test__cap__line {
    color: rgb(80, 81, 85);
    font-family: "roboto", sans-serif;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 19.2px;
    font-style: normal;
    display: flex;
    align-items: center;
}

.test__alice-hand,
.test__lili-forest,
.test__cole-tiers {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: none;
    height: auto;
    margin-top: 50px;
}

.test__cole-tiers__photo {
    border-style: solid;
    height: 120px;
    border-image-width: 1;
    text-align: center;
    border-color: none;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.test__cole-tiers__name {
    font-family: "roboto", sans-serif;
    margin-top: 20px;
    text-align: center;
    line-height: 33.6px;
    font-weight: 500;
    font-size: 24px;
    color: black;
}
